{% extends "blog/base.html" %} 
{% block title %}Flasky - index{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Hello {% if user.is_authenticated %}{{ user.username }}{% else %}world{% endif %}</h1>
</div>
    <form action="/" method="post" role="form">
        {{ csrf_input }}
        {% if user.is_authenticated %}
        <br>
        <input type="text" name="title" placeholder="请输入标题" class="form-control" style="width: 30%">
        <br>
        <textarea type="text" name="body" placeholder="请输入文章主体 右下角可以拓展扩大" class="form-control" style="height: 80%;"></textarea>
        <br>
        <input type="submit" value="提交" class="btn btn-primary">
        {% endif %}
    </form>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}>
            <a href="/all">All</a>
        </li>
        {% if request.user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}>
            <a href="/followed">Followers</a>
        </li>
        {% endif %}
    </ul>
<ul class="posts">
    {% for contact in contacts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="/user/{{ contact.author }}">
                <img class="img-rounded profile-thumbnail"
                    src="{{ contact.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-date">{{ contact.create_time }}</div>
        <div class="post-author">
            <a href="/user/{{ contact.author }}">
                {{ contact.author }}
            </a>
        </div>
        <div class="post-body">{{ contact.body }}</div>
        <div class="post-footer">
            {% if request.user == contact.author and user.is_authenticated %}
            <a href="/edit/{{ contact.id }}">
                <span class="label label-primary pull-right" style="margin-left: 5px">Edit</span>
            </a>
            {% elif request.user.is_superuser %}
            <a href="/edit/{{ contact.id }}">
                <span class="label label-danger pull-right">Edit [Admin]</span>
            </a>
            <br>
            {% endif %}
            <a href="/post/{{ contact.id }}">
                <span class="label label-default pull-right">Permalink</span>
                <div class="clearfix"></div>
            </a>
        </div>
     </li>
    {% endfor %}
</ul>
</div>

<div class="pagination">
    <ul class="pagination">
        <li{% if not contacts.has_previous() %} class="disabled"{% endif %}>
            <a href="{% if contacts.has_previous() %}?page={{ contacts.previous_page_number }}{% else %}#{% endif %}">
                &laquo;
            </a>
        </li>

        {% for p in contacts.paginator.page_range %}
            {% if p %}
                {% if p == contacts.number %}
                <li class="active">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}

        <li{% if not contacts.has_next() %} class="disabled"{% endif %}>
            <a href="{% if contacts.has_next() %}?page={{ contacts.next_page_number }}
            {% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
{% endblock %}
