{% extends "blog/base.html" %} 
{% block title %}Flasky - index{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Hello {% if user.is_authenticated %}{{ user.username }}{% else %}world{% endif %}</h1>
</div>
    <form action="/" method="post" role="form">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <br>
        <input type="text" name="title" placeholder="请输入标题" class="form-control" style="width: 30%">
        <br>
        <textarea type="text" name="body" placeholder="请输入文章主体 右下角可以拓展扩大" class="form-control" style="width: 50%;height: 30%;"></textarea>
        <br>
        <input type="submit" value="提交" class="btn btn-primary">
        {% endif %}
    </form>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="/user/{{ post.author }}">
                <img class="img-rounded profile-thumbnail"
                    src="{{ post.author.index_gravatar }}">
            </a>
        </div>
        <div class="post-date">{{ post.create_time }}</div>
        <div class="post-author">
            <a href="/user/{{ post.author }}">
                {{ post.author }}
            </a>
        </div>
        <div class="post-body">{{ post.body }}</div>
     </li>
    {% endfor %}
</ul>
{% endblock %}
