{% extends "blog/base.html" %}
{% block title %}Flasky - user{% endblock %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        {% if request.user.username == user.username %}
        <a href="/edit/{{ user.username }}"><h1 class="btn btn-info">编辑个人资料</h1></a>
        {% endif %}
            <table class="table table-hover table-bordered" style="width: 50%" border="1">
        <caption>个人资料</caption>
        <tbody>
            <tr>
                <th>用户名:{{ user.username }}</td>
                <td rowspan="6" align="right" style="width: 200px;height: 200px"><img class="img-rounded" src="{{ user.gravatar }}"></td>
            </tr>
            <tr>
                <th>性别:{% if user.gender == 1 %}男{% else %}女{% endif %}</td>
            </tr>
            <tr>
                <th>生日:{% if user.birthday == None %}暂未设置{% else %}{{ user.birthday }}{% endif %}</td>
            </tr>
            <tr>
                <th>地址:{% if user.adder == None %}暂未设置{% else %}{{ user.adder }}{% endif %}</td>
            </tr>
            <tr>
                <th>手机:{% if user.phone == None %}暂未设置{% else %}{{ user.phone }}{% endif %}</td>
            </tr>
            <tr>
                <th>邮箱:{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="profile-thumbnail">
            <a href="/user/{{ post.author }}">
                <img class="img-rounded profile-thumbnail"
                    src="{{ post.author.index_gravatar }}">
            </a>
        </div>
        <div class="post-date">{{ post.create_time }}</div>
        <div class="post-author">
            <a href="/user/{{ post.author }}">
                {{ post.author }}
            </a>
        </div>
        <div class="post-body">{{ post.body }}</div>
     </li>
    {% endfor %}
</ul>
</div>
{% endblock %}